#AddDefaultCharset UTF-8
#RewriteEngine on
#RewriteBase /
#Если файл на сервере существует - то не использовать перезаписываемое правило
#RewriteCond %{REQUEST_FILENAME} !-f
#
#RewriteRule ^(.*)$ /dist/index.html
##Index-страница
#DirectoryIndex /dist/index.html
#=====================================================
<IfModule mod_rewrite.c>
AddDefaultCharset UTF-8
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /dist/index.html
# Change default directory pages.
DirectoryIndex /dist/index.html
</IfModule>
#========================================================
#
#<IfModule mod_rewrite.c>
#AddDefaultCharset UTF-8
#RewriteEngine On
#RewriteBase /
#RewriteRule ^ /dist/index\.html$ - [L]
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule /dist/index.html [L]
#</IfModule>