#=====================================================
<IfModule mod_rewrite.c>
AddDefaultCharset UTF-8
RewriteEngine on
RewriteBase /dist
# правило перенаправления "с www" на "без www"
RewriteCond %{HTTP_HOST} ^www\.any-web\.net\$
RewriteRule ^(.*)$ https://any-web.net/$1 [R=301,L]
RewriteCond %{REQUEST_URI} !^/dist
RewriteRule ^(/?)(.*) /dist/$2
#Если файл на сервере существует - то не использовать перезаписываемое правило
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
</IfModule>
#========================================================
