.mainSlide3{
    width: 100%;
    height: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
    top:2%;
    border: solid transparent;
    border-width: 20px 10px 50px 10px;
    border-radius: 2%;
    overflow: hidden;

}
.position{
    position: absolute;
}
.center{
    justify-content: center;
    align-items: center;
}
/*@keyframes moveBlocksIn{*/
/*     0%{*/
/*      opacity: 1;*/
/*     }*/
/*    40%{*/
/*        opacity: 0;*/
/*    }*/
/*    50%{*/
/*        opacity: 0;*/
/*    }*/

/*     100%{*/
/*        opacity: 1;*/
/*     }*/
/* }*/
/*@keyframes moveBlocksOut{*/
/*    0%{*/
/*        position: absolute;*/
/*    }*/
/*    100%{*/
/*        display: block;*/
/*    }*/
/*}*/
/*.moveIn{*/
/*    animation: 30s ease-in moveBlocksIn;*/
/*}*/
/*.moveOut{*/
/*    animation: 2s linear moveBlocksOut;*/
/*}*/

.block{
    /*border: 2px solid white;*/
    /*transition: transform 50s linear;*/
    /*box-shadow: 0 0 10px 2px rgba(57, 57, 57, 0.79);*/
    border-radius: 10px;

}

.block_1{
    transition:  50s linear;
    background: transparent url("../img/anyW4Ytmpl.jpg") no-repeat;
    background-size:  cover;
    overflow: hidden;
}
.block_2{
    transition:  40s linear;
    background: transparent url("../img/cosm.jpg") no-repeat center center;
    background-size: contain;
    overflow: hidden;

}
.block_3{
    transition: 30s linear;
    background: transparent url("../img/amaioswim.jpg") no-repeat center center;
    background-size: contain;
    overflow: hidden;
}
.block_4{
    transition: 20s linear;
    background: transparent url("../img/proudandpunch.jpg") no-repeat center center;
    background-size: contain;
    overflow: hidden;
}
.block_5{
    transition:  30s linear;
    background: transparent url("../img/rainforestfoods.jpg") no-repeat center center;
    background-size: contain;
    overflow: hidden;
}
.block_6{
    transition: 40s linear;
    background: transparent url("../img/template_1-min.png") no-repeat center center;
    background-size: contain;
    overflow: hidden;
}
.block_7{
    transition:  50s linear;
    background:  transparent url("../img/proudandpunch.jpg") no-repeat center center;
    background-size: contain;
    overflow: hidden;
}
.block_8{
    transition:  50s linear;
    background: transparent url("../img/template_3-min.png") no-repeat center center;
    background-size: contain;
    overflow: hidden;
}
.block_9{
    transition:  30s linear;
    background: transparent url("../img/template_4-min.png") no-repeat center center;
    background-size: contain;
    overflow: hidden;
}
.block_10{
    transition: 40s linear;
    background:  transparent url("../img/template_5-min.png") no-repeat center center;
    background-size: contain;
    overflow: hidden;
}
.block_11{
    transition:  50s linear;
    background: transparent url("../img/template_6-min.png") no-repeat center center;
    background-size: contain;
    overflow: hidden;
}
.block_12{
    transition:  50s linear;
    background: transparent url("../img/template_7-min.png") no-repeat center center;
    background-size: contain;
    overflow: hidden;
}
.block_13{
    transition:  30s linear;
    background: transparent url("../img/template_7-min.png") no-repeat center center;
    background-size: contain;
    overflow: hidden;
}
.block_14{
    transition: 40s linear;
    background: transparent url("../img/template_7-min.png") no-repeat center center;
    background-size: contain;
    overflow: hidden;
}
.block_15{
    transition:  50s linear;
    background: transparent url("../img/template_7-min.png") no-repeat center center;
    background-size: contain;
    overflow: hidden;
}
.block_16{
    transition:  50s linear;
    background: transparent url("../img/template_7-min.png") no-repeat center center;
    background-size: contain;
    overflow: hidden;
}


