.main{
    width: 100%;
    height: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
    top:2%;
    border: solid #f3ff86;
    border-width: 20px 10px 50px 10px;
    border-radius: 2%;
    overflow: hidden;

}
.template{
    width: calc((100% / 3) - 7%);
    height: 16em;
    border: 3px solid #000068;
    border-radius: 5px;
    background-size: cover;
    background-repeat: no-repeat;
    transition: 1s;
    cursor: pointer;
    margin: 5px;
}
/*.resize{*/
/*    position: absolute;*/
/*    width: 80%;*/
/*    height: 80%;*/
/*    left: 10%;*/
/*    top: 5%;*/
/*}*/
/*----------------------------------------------------------*/
@media screen and (max-width: 1400px) and (orientation: landscape) {
    .template {
        width: calc((100% / 3) - 2%);
        height: 15em;
    }
}
/*-----------------------------------------------------------*/
@media screen and (max-width: 1300px) {
    .template {
        width: calc((100% / 3) - 5%);
        height: 13em;
    }
}
/*-----------------------------------------------------------*/
@media screen and (max-width: 1050px) {
    .main{
        overflow-y: scroll;
        -webkit-overflow-scrolling:touch !important;
        padding-top: 10px;

    }
    .template {
        width: calc((100% / 2) - 5%);
        height: auto;
        margin: 10px;
    }
}
/*---------------------------------------------------------------*/
@media screen and (max-width: 1050px) and (orientation: landscape) {
    .main{
        overflow-y: scroll;
        -webkit-overflow-scrolling:touch !important;

    }
    .template {
        width: calc((100% / 2) - 5%);
        height: 15em;
        margin: 10px;
    }
}
/*-----------------------------------------------------------*/
@media screen and (max-width: 800px) {
    .template{
        width: 40em;
        height: 20em;
    }

}
/*-----------------------------------------------------------*/
@media screen and (max-width: 740px)  and (orientation: landscape){
    .template{
        width: 35em;
        height: 17em;
    }

}
/*-----------------------------------------------------------*/
@media screen and (max-width: 700px)  and (orientation: landscape){
    .template{
        width: 35em;
        height: 17em;
    }
}
/*----------------------------------------------------------*/
@media screen and (max-width: 600px) {
    .template {
        width: 26em;
        height: 13em;
    }
}
