/*-----------------------Slider---------------------------------------------------*/
h1{
    cursor: pointer;
}
.slid{
    width: 100vw !important;
    height: 100% !important;
    position: absolute;
    top: 0;
    left:0;
    transition: transform 0.4s;

}

.slid1{
    background-color: #000068;
    color: aliceblue;
    transition-delay: 0.15s;
}
.slid2{
    background-color: rgba(67, 61, 154, 1);
    transition-delay: 0.1s;

}
.slid3{
    background-color: #7df0c8;
    transition-delay: 0.05s;

}
.slid4{
    background-color: #000068;
    color: aliceblue;
    transition-delay: 0s;

}
.container {
    height: 100vh !important;
    position: relative;
    overflow: hidden;
}
@keyframes slidDown{
    0%{
        top: 0;
    }
    40%{
        top:40vh;
    }
    60%{
        top:40vh;
    }

    100% {
        top:100vh;
    }
}
@keyframes slidUp{
    from {
        top: 100vh;
    }
    100% {
        top:0;
    }
}
.down{
    top: 100vh;
    animation: 2s ease-in-out slidDown;
}
.up{
    top: 0;
    animation: 1s ease-in-out slidUp;
}
.show {
    z-index: 9;
    position: fixed;

}
/*----------------------------Arrow------------------------------------------------------*/
@keyframes moveButton{
    from {
        margin-top: 0;
    }
    5%{
        margin-top: 10px;
    }
    10%{
        margin-top: 0;
    }
    15%{
        margin-top: 10px;
    }
    20%{
        margin-top: 0;
    }
    100%{
        margin-top: 0;
    }

}
.divArrowUP{
    position: absolute;
    width: 4em;
    height: 4em;
    padding: 8px 2px 2px 2px !important;
    top:.5em;
    left: calc(100vw - 6em);
    border-radius: 50%;
    z-index: 99;
    outline:none;
}
.divArrowUP img {
    height: 90%;
    width: 90%;
    /*transform: rotate(90deg);*/

}
.divArrowDown{
    position: absolute;
    width: 4em;
    height: 4em;
    transform: rotate(-90deg);
    padding: 8px 2px 2px 2px !important;
    top: calc(100% - 13%);
    left: calc(100vw - 6em);
    border-radius: 50%;
    z-index: 99;
    outline:none;
}
.divArrowDown img {
    height: 90%;
    width: 90%;
    transform: rotate(90deg);

}
.animButton{
    margin-top: 0;
    animation: moveButton 5s ease-in-out infinite;
}
/*--------------------------------------------------------------*/
@media screen and (max-width: 900px) and (orientation: landscape) {
    .divArrowDown{
            top: calc(100% - 20%);
        }
}

