
/*-----------------------Slider---------------------------------------------------*/
.slid{
    width: 100% !important;
    height: 100% !important;
    position: absolute;
    top: 0;
    left:0;
    transition: transform 0.4s;

}

.slid1{
    background: url("../img/grass.png") repeat-x bottom,
                url("../img/backGround-min.png") no-repeat bottom,
                linear-gradient(to top, #af8230, #1a2b58, #121e3e 60%);
    color: aliceblue;
    transition-delay: 0.20s;
    background-size:auto,100% auto, auto;
    z-index: 20;
}
.slid2{
    background-color: rgba(67, 61, 154, 1);
    transition-delay: 0.15s;
    z-index: 19;

}
.slid3{
    /*background-color: #7df0c8;*/
    background: url("../img/blue_sky.jpg") no-repeat center center;
    background-size: cover;
    box-shadow: inset 0px 0px 40px 20px rgba(0, 0, 0, 0.6) ;
    transition-delay: 0.10s;
    z-index: 18;
    color: #000068;

}
.slid3.menu-btn{
    color: #000068;
}
.slid4{
    background-color: #f3ff86;
    color: #000068;
    transition-delay: 0.05s;
    z-index: 17;

}
.slid5{
    background-color: #000068;
    color: aliceblue !important;
    transition-delay: 0s;
    z-index: 16;

}
@keyframes slidDown{
    0%{
        top: 0;
    }
    100% {
        top:100vh;
    }
}
@keyframes slidUp{
    from {
        top: 100vh;
    }
    100% {
        top:0;
    }
}
.down{
    top: 100vh;
    animation: 1.2s ease-in-out slidDown;

}
.up{
    top: 0;
    animation: 1s ease-in-out slidUp;
}
.show {
    z-index: 150;
    position: absolute;
    top: 0;
    left: 0;

}
/*----------------------------Arrow------------------------------------------------------*/
@keyframes moveButton{
    from {
        margin-top: 0;
    }
    5%{
        margin-top: 10px;
    }
    10%{
        margin-top: 0;
    }
    15%{
        margin-top: 10px;
    }
    20%{
        margin-top: 0;
    }
    100%{
        margin-top: 0;
    }

}
.divArrowUP{
    position: absolute;
    width: 4em;
    height: 4em;
    padding: 8px 2px 2px 2px !important;
    top:.5em;
    left: calc(100vw - 5em);
    border-radius: 50%;
    z-index: 200;
    outline:none;
}
.divArrowUP img {
    height: 90%;
    width: 90%;
}
.divArrowDown{
    position: absolute;
    width: 4em;
    height: 4em;
    transform: rotate(-90deg);
    padding: 8px 2px 2px 2px !important;
    top: calc(100% - 4em - 3em);
    left: calc(100vw - 5em);
    border-radius: 50%;
    z-index: 200;
    outline:none;
}
.divArrowDown img {
    height: 90%;
    width: 90%;
    transform: rotate(90deg);

}
.animButton{
    margin-top: 0;
    animation: moveButton 5s ease-in-out infinite;
}

/*---------------------------------------------------------------*/
@media screen and (max-width: 1200px){
    .slid1{
        background-size: auto,140% 30%, auto;
        background-position: bottom, 100% bottom;
    }
}
/*---------------------------------------------------------------*/
@media screen and (max-width: 1100px){
    .slid{
        transition:  .6s linear;
    }
    .downW{
        top: 0;
        /*animation: 1.2s ease-in-out slidUp;*/

    }
    .upW{
        top: -100vh;
        /*animation: 1s ease-in-out slidDown;*/
    }
    .slid3{
        box-shadow: inset 0px 0px 30px 10px rgba(0, 0, 0, 0.6) ;
    }
}
/*--------------------------------------------------------------*/
@media screen and (max-width: 900px) and (orientation: landscape) {
    .divArrowDown{
        top: calc(100% - 4em - 1em);
    }
    .slid1{
        background-size: auto 15%,100% 35%, auto;
        background-position: bottom, 100% bottom;
    }
}
/*---------------------------------------------------------------*/
@media screen and (max-width: 450px){
    .slid1{
        background-size: auto 15%,190% 25%, auto;
        background-position: bottom, 100% bottom;
    }
    .divArrowDown, .divArrowUP{
        width: 3em;
        height: 3em;
        left: calc(100vw - 3em);
    }
    .slid3{
        box-shadow: inset 0px 0px 30px 5px rgba(0, 0, 0, 0.6) ;
    }
}

