@import "reset.css";
@import "slider.css";
@import "slide_1.css";
@import "../fonts/font.css";
@import "modal.css";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh !important;
    width: 100vw !important;
    position: relative;
    overflow: hidden;
}


.displayCenter{
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}
.none{
     display: none;
 }
h1{
    cursor: pointer;
    font-family: "Segoe Print Bold";
    font-size: 2em;
}
/*----------------------------------------------------------------------------------------------*/
.menu-btn {
    position: absolute;
    z-index: 99999;
    top: 0;
    left: 0;
    height: 60px;
    width: 60px;
    cursor: pointer;
    background: url(https://iamturner.co.uk/codepen/menu-icon.png) no-repeat center;
    background-size: 70px;
}
.menuOpen{
    align-items: normal !important;
    align-content: normal !important;
}
/*-------------------------------------------------------------------------------------------------*/


