@import "slider.css";
@import "slide_1.css";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.displayCenter{
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}
.none{
     display: none;
 }
/*----------------------------------------------------------------------------------------------*/
.menu-btn {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    height: 70px;
    width: 54px;
    cursor: pointer;
    background: url(https://iamturner.co.uk/codepen/menu-icon.png) no-repeat center;
    background-size: 44px;
}
.menuOpen{
    align-items: normal !important;
    align-content: normal !important;
}
/*-----------------------------------------------------------------------------------------------*/
@media screen and (max-width: 600px) {

}

