@media screen and (max-width: 1100px){

    img.catWeOfffer {
        width : 25%;
    }


    img.moonWeOfffer,
    img.sunWeOfffer {
        width : 18%;
    }


    img.sunWeOffferWeOfffer {
        right: 100%;
    }


    text {
        font-size: 28px;
    }


    .starWeOfffer,
    .starYellow,
    .starBlue,
    .starRed {
        width : 3px;
        height : 3px;
    }

    
    /* ====================== modal windows ============================== */
    
    
    .modalWeOfffer {
        justify-content : flex-start;
        align-items : flex-start;
    }
    

    .modalWeOfffer>.containerWeOfffer {
        width : 80%;
        flex-wrap : wrap;
        padding: 20px 0 0 35px;
    }


    button {
        margin: 10px 0 0 10px;
        width: 35px;
        height: 35px;
        font-size: 20px;
    }

    
    .modalWeOfffer p{
        width: 80%;
        font-size: 25px;
        text-align: right;
        padding: 10px 10px 0px 10px;
        line-height: 1.3;
    }    
}
