@media screen and (max-width: 450px) {
    img.moonWeOfffer,
    img.sunWeOfffer {
        top : 50px;
    }
    .modalWeOfffer>.containerWeOfffer {
        width : 90%;
        flex-wrap : wrap;
        /* flex-direction: column-reverse; */
    }
}
