@media screen and (max-width: 1400px){
    img.catWeOfffer {
        left : 2%;
    }
}
@media screen and  ( orientation: landscape) and (max-width: 1400px){
    /*.modalWeOfffer>.containerWeOfffer {*/
    /*    margin-top: -10% !important;*/
    /*    margin-right: auto;*/
    /*    margin-left: auto;*/
    /*}*/
   button{
       width: 20px !important;
       height: 20px !important;
   }
}