@media screen and (max-width: 800px){

    img.catWeOfffer {
        bottom : 10px;
        left : 4%;
        width : 30%;
    }


    img.moonWeOfffer,
    img.sunWeOfffer {
        width : 20%;
    }


    img.sunWeOffferWeOfffer {
        right : 100%;
    }
    

    text {
        font-size : 25px;
    }


    .starWeOfffer,
    .starYellow,
    .starBlue,
    .starRed {
        width : 2px;
        height : 2px;
    }
}
@media screen and  ( orientation: landscape) and (max-width: 800px){
    .modalWeOfffer {
        height: 60% !important;
    }
    /*.modalWeOfffer>.containerWeOfffer {*/
    /*    margin-top: 5% !important;*/
    /*    margin-right: auto;*/
    /*    margin-left: auto;*/
    /*}*/
    button{
        width: 20px !important;
        height: 20px !important;
    }
}
